@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-image: linear-gradient(90deg, #7d5fff, #7158e2);
}

.search {
    position: relative;
    /* height: 50px; */
}

.search .input {
    background-color: #fff;
    font-size: 18px;
    border: none;
    padding: 15px;
    width: 50px;
    height: 50px;
    opacity: 0;
    border-radius: 3px;
    transition: width 0.3s ease, opacity 0.3s ease;
}

.btn {
    background-color: #fff;
    color: #7158e2;
    font-size: 24px;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
    transition: transform 0.3s ease;
    color: linear-gradient(90deg, #7d5fff, #7158e2);
}

.btn:focus,
.input:focus {
    outline: none;
}

.search.active .input {
    opacity: 1;
    width: 200px;
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
}

.search.active .btn {
    transform: translateX(200px);
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
    border-left: 3px solid #7158e2;
}
